<header class="header">
    <img class="header__img1" src="Recurso17.png" alt="">
    <div class="header__div">
        <img class="header__div--img" src="Recurso 23.png" alt="rgr">
        <h1 class="header__titulo">ARTDESIGNERS</h1>
    </div>
    <ul class="header__ul">
        <li class="header__li">HOME</li>
        <li class="header__li">SERVICES</li>
        <li class="header__li">ABOUT</li>
        <li class="header__li">CONCTAC US</li>
        <div class="header__input">
            <img class="header__ul--img" src="Recurso 24.png" alt="rg">
        </div>
    </ul>
    <div class="header__div div-img">
        <img class="header__menu" src="Recurso12.png" alt="imagen">
    </div>
    
</header>