<main class="main">
    <section class="main__section">
        <article class="main__section--article">
            <p class="main__section--article--h3">CREATIVE</p>
            <p class="main__section--article--h2">WORKSHOP</p>
            <p class="main__section--article--h1">WEBSITES</p>
            <p class="main__section--article--p1">Lorem ipsum dolor sit amet consectetur <br> adipisicing elit.Praesentium quod odit labore vel. Facilis <br> placeat quam adipisci  natus, officia ad dignissimos <br> reiciendis obcaecati, assumenda quod, br qui repudiandae ducimus ea fuga.<br></p>
            <button class="main__section--article--button">LEAN MORE</button>
        </article>
        <article>

        </article>
    </section>
</main>